<div class="wrapper-md" ng-controller="ComputerListController">
  <div class="panel panel-default">
    <div class="panel-heading">
    	<ul class="nav nav-pills pull-right">
            <li style=" padding-top:4px; padding-right:4px"><button class="btn m-b-xs btn-sm btn-success btn-addon" ui-sref="app.store.computer.edit()"><i class="fa fa-plus"></i>新增</button></li>
            <!-- <li style=" padding-top:4px; padding-right:4px"><button class="btn m-b-xs btn-sm btn-default btn-addon" ng-click="import('lg')"><i class="fa fa-arrow-circle-down"></i>导入</button></li> -->
        </ul>
        主机列表
    </div>
    <div class="row wrapper">
      <div class="col-sm-9">
      </div>
      <div class="col-sm-3">
        <div class="input-group"style="width:100%">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="search_context" style="width:100%">
          <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-sm btn-default" type="button" ng-click="search()">搜索</button>-->
          <!--</span>-->
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <!-- <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-click="selectAll()"><i></i>
              </label>
            </th> -->
            <th style="width:30px;">行</th>
            <th>主机名称</th>
            <th>主机IP</th>
            <th>主机MAC</th>
            <th>允许访问API</th>
            <th style="width:100px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in data.obj| filter : {name:search_context}">
            <!-- <td><label class="i-checks m-b-none"><input type="checkbox" ng-model="data.selected"><i></i></label></td> -->
            <td>{{ $index + 1 }}</td>
            <td>{{data.name}}</td>
            <td>{{data.ip}}</td>
            <td>{{data.macAddress}}</td>
            <td ng-switch on="data.allowAccess">
              <span class="label label-success m-r-xs" ng-switch-when="true">True</span>
              <!-- <span class="label label-danger m-r-xs" ng-switch-when="false">False</span> -->
            </td>
            <td>
              <button class="btn btn-sm btn-icon btn-default" ui-sref="app.store.computer.edit({uuid:data.uuid})"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-icon btn-danger" ng-click="remove(data.uuid)"><i class="fa fa-remove"></i></button>

              <!-- <a ui-sref="app.enterprise.edit({uuid:data.uuid})" class="active"><i class="fa fa-edit"></i></a>
              <a ui-sref="app.enterprise.edit({uuid:data.uuid})" class="active"><i class="fa fa-remove"></i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-8 text-left">
          <small class="text-muted inline m-t-sm m-b-sm">{{search_context.length == null ? data.obj.length :(data.obj|filter: {name:search_context}).length}}条记录</small>
        </div>
        <!--<div ng-if="data.page_count>1" class="col-sm-4 text-right text-center-xs">-->
          <!--<ul class="pagination pagination-sm m-t-none m-b-none">-->
            <!--<li ng-class="{disabled:!data.previous}"><a><i class="fa fa-chevron-left"></i></a></li>-->
            <!--<li ng-repeat="page in data.pages" ng-class="{active:page==data.page_index}"><a>{{page}}</a></li>-->
            <!--<li ng-class="{disabled:!data.next}"><a><i class="fa fa-chevron-right"></i></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </footer>
  </div>
</div>
