<div ng-show="!loginPageShow">
  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>
  <!-- / menu -->

  <!-- content -->
  <div class="app-content">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body fade-in-up" ui-view></div>
  </div>
  <!-- /content -->

  <!-- footer -->
  <div class="app-footer wrapper b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    &copy; 2016 {{app.companyName}} 版权所有
  </div>
  <!-- / footer -->

  <!--
  <div data-ng-include=" 'tpl/blocks/settings.html' " class="settings panel panel-default">
  </div>
  -->
</div>
<div ng-show="loginPageShow" class="container w-xxl w-auto-xs" style="    margin-top: 10%;padding: 10px;background-color: #ffffff;">
  <div style="
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;">盒马外卖系统</div>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="请输入账号" class="form-control no-border" ng-model="accountName" required>
        </div>
        <div class="list-group-item">
          <input type="password" placeholder="请输入密码" class="form-control no-border" ng-model="accountPassword" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <!--<input type="checkbox" ng-model="rememberMe"> 请记住我-->
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login(accountName,accountPassword)" ng-disabled='form.$invalid'>登录</button>
      <div class="line line-dashed"></div>

    </form>
  </div>

</div>